body {
    margin: 0;
    width: 100%;
    
    font-family: monospace;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.header {
    flex: 2 100%;
    display: flex;
    flex-flow: row wrap;

    background: #2e3436;
    padding: 5px;

    color: #d0d0d0;
    font-size: 200%;
    font-weight: bold;
}

.header .title { 
    color: #00af00;
}

.header .cursor {
    background: #d0d0d0;
    height: 1.1em;
    width: 0.6em;

    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.navigation {
    flex: 0 auto;
    display: flex;
    flex-flow: column;
    height: 100vh;
    
    background: #555753;

    font-size: 150%;
}

.navigation ul {
    list-style: none;

    margin: 0;
    padding-left: 0;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
    color: white;
}

.navigation a:hover {
    background: #2e3436;
}

.main {
    flex: 6 0px;
}

@keyframes blinking {
    0% {background: #d0d0d0;}
    49% {background: #d0d0d0;}
    50% {background: inherit;}
    99% {background: inherit;}
}
