body {
    margin: 0;
    width: 100%;
    
    font-family: monospace;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.header {
    flex: 2 100%;
    display: flex;
    flex-flow: row wrap;

    background: #2e3436;

    color: #d0d0d0;
    font-size: 200%;
    font-weight: bold;
}

.logo {
    display: flex;
    padding: 5px;
}

.logo .title { 
    color: #00af00;
}

.logo .cursor {
    background: #d0d0d0;
    height: 1.1em;
    width: 0.6em;

    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: flex-end;
    
    margin: 0;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
    margin-right: 1em;

    font-size: 75%;
    color: white;
}

.navigation a:hover {
    background: #d0d0d0;
}

.main {
    flex: 6 0px;
}

@keyframes blinking {
    0% {background: #d0d0d0;}
    49% {background: #d0d0d0;}
    50% {background: inherit;}
    99% {background: inherit;}
}
